<script>

var app = {};
app.space_id = {{space.id}};

app.row_count = 3;

app.User = Backbone.Tastypie.Model.extend({
    urlRoot : "/api/v1/user/",
    idAttribute : "id",
    url : function() {
        if(this.get('resource_uri' != undefined)) {
            return this.get('resource_uri');
        }

        if(this.get("id") != undefined) {
            return this.urlRoot + this.get("id") + "/";
        }

        return this.urlRoot;
    },

    initialize : function() {
        var options = {'userId' : this.get('id')};
    },

});

app.UserProfile = Backbone.Tastypie.Model.extend({
    urlRoot : '/api/v1/profile/',
    idAttribute : 'id',

    url : function() {
        if(this.get('resource_uri') != undefined) {
            return this.get('resource_uri');
        }

        if(this.get('id') != undefined) {
            return this.urlRoot + this.get('id') + "/";
        }

        return this.urlRoot;
    },

    initialize : function() {
        if(this.get('id') != undefined) {
            this.fetch();
        }
    },
});



app.initializeUser = function() {
    var cur_fb_user = app.cur_fb_user;
    if(cur_fb_user == undefined) {
        if(!cur_user_details.id) {
            return;
        }

        app.cur_fb_user = new app.User({'id' : cur_user_details.id});
        app.cur_fb_user.fetch();
    }
};


app.Space = Backbone.Tastypie.Model.extend({
    urlRoot : "/api/v1/space/",
    idAttribute : "id",

    url : function() {
       if(this.get('id') == undefined) {
            return this.urlRoot;
        } else {
            return this.urlRoot + this.get('id') + "/";
        }
    },
});


</script>