<script>
$('.part-pop-trigger').popover({
    animation: true,
    container: 'body',
    content: function() {
        var makey_count = $(this).data('part-makey-count') || 0;
        var part_name = $(this).data('part-name');
        var template = Handlebars.compile($('#part_pop_template').html());
        return template({
            name: part_name,
            makey_count: makey_count
        });
    },
    html: true,
    placement: "auto top",
    trigger: 'hover'
});

$(function(){
    $('#inventory-table').dataTable({
        "aaSorting": [[0,'asc']],
        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "bPaginate" : true,
        "bLengthChange": true
    });

    $('.dataTables_filter input').attr('placeholder', 'Search');
});

// Admin editable stuff after this
{% if is_space_admin %}

var app = {};
app.space_id = {{space.id}};

app.Space = Backbone.Tastypie.Model.extend({
    urlRoot : "/api/v1/space/",
    idAttribute : "id",

    url : function() {
       if(this.get('id') == undefined) {
            return this.urlRoot;
        } else {
            return this.urlRoot + this.get('id') + "/";
        }
    },
});

app.Inventory = Backbone.Tastypie.Model.extend({
    urlRoot : '/api/v1/inventory/',
    idAttribute : 'id',

    url : function() {
        if(this.get('resource_uri') != undefined) {
            return this.get('resource_uri');
        } else if(this.get('id') != undefined) {
            return this.urlRoot + this.get('id') + "/";
        } else {
            return this.urlRoot;
        }
    },
});

app.Part = Backbone.Tastypie.Model.extend({
    urlRoot : '/api/v1/part/',
    idAttribute : 'id',

    defaults : {
        'added_time' : 'Now',
    },

    url : function() {
        if(this.get('resource_uri') != undefined) {
            return this.get('resource_uri');
        } else if(this.get('id') != undefined) {
            return this.urlRoot + this.get('id') + "/";
        } else {
            return this.urlRoot;
        }
    },
});

app.InventoryList = Backbone.Tastypie.Collection.extend({
    model : app.Inventory,
    urlRoot : '/api/v1/inventory/?limit=0&space='+app.space_id,

    url : function() {
        return this.urlRoot;
    },
});

app.InventoryView = Backbone.View.extend({
    el: $('#inventory-wrapper'),
    $table : this.$("#inventory-table"),
    editable_header_template: Handlebars.compile(this.$('#editable-header').html()),
    row_actions_template: Handlebars.compile(this.$('#row-actions-template').html()),
    row_actions_delete_confirm_template: Handlebars.compile(this.$('#row-actions-delete-confirm-template').html()),
    initialize: function(){

        this.inventoryList = new app.InventoryList();

        this.listenTo(this.inventoryList, 'reset', this.addInventory);

        this.nukeStaticTable();
        this.initEditable();

        this.inventoryList.fetch({reset: true});
    },

    getDataTable: function() {
        return this.$table.dataTable();
    },

    clearTable: function() {
        this.getDataTable().fnClearTable();
    },

    nukeStaticTable: function() {
        // nuke the static table and create editable table
        this.clearTable();
        this.getDataTable().fnDestroy();
        this.$table.empty();
    },

    initEditable: function() {
        this.$table.html(this.editable_header_template());
        this.$table.dataTable({
            "aaSorting": [[0,'asc']],
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "bPaginate" : true,
            "bLengthChange": true,
            "aoColumnDefs": [
                { "bVisible": false, "aTargets": [ -1 ] },
                { "sWidth": "50%", "aTargets": [ 0 ] },
                { "sWidth": "10%", "aTargets": [ 1 ] },
                { "sWidth": "20%", "aTargets": [ 2 ] },
                { "sWidth": "20%", "aTargets": [ 3 ] },
            ]
        });

        this.$('.dataTables_filter input').attr('placeholder', 'Search');

        // delegating row events
        var that = this;
        this.$table.delegate( ".row-edit-transfer-owner", "click", function() {
            that.showTransferOwnerForm(this);
        });
        this.$el.delegate( "#edit-inv-save-btn", "click", function() {
            that.saveInventoryEdit(this);
        });
        this.$table.delegate( ".row-delete", "click", function() {
            that.showDeleteConfirmation(this);
        });
        this.$table.delegate( ".row-delete-confirm-yes", "click", function() {
            that.confirmRowDelete(this);
        });
        this.$table.delegate( ".row-delete-confirm-no", "click", function() {
            that.cancelRowDelete(this);
        });

        this.$el.delegate( "#add-inventory #btn_submit_new_parts", "click", function() {
            that.createInventory();
        });

    },

    showInventoryAddMsg: function(msg) {
        this.$("#new-inv-add-msg").html(msg);
    },

    resetTypeAhead: function() {
        this.$('#add-inventory .typeahead').typeahead('val', '');
        this.currentInventory = undefined;
        this.$('#btn-add-inventory').button('reset');
    },

    addInventoryRow: function(model) {
        this.getDataTable().fnAddData([
            model.get('part').name,
            model.get('quantity'),
            model.get('owner'),
            this.row_actions_template(),
            model.get('id')
        ]);
    },

    addInventory: function() {
        for(var i=0; i<this.inventoryList.models.length; ++i) {
            this.addInventoryRow(this.inventoryList.models[i]);
        }
    },

    showDeleteConfirmation: function(el) {
        var $table_col = $(el).parents("td");
        $table_col.html(this.row_actions_delete_confirm_template());
    },

    confirmRowDelete: function(el) {
        var $target = $(el);
        var $parent_row = $target.parents('tr');
        var row_position = this.getDataTable().fnGetPosition($parent_row.get(0));
        var row_data = this.getDataTable().fnGetData(row_position);
        var inventoryId = row_data[4];
        this.deleteInventory(inventoryId, row_position);
    },

    deleteInventory: function(inventoryId, row_position) {

        var inventory = this.inventoryList.get(inventoryId);

        var that = this;
        inventory.destroy({
            success: function() {
                that.getDataTable().fnDeleteRow(row_position);
            }
        });
    },

    cancelRowDelete: function(el) {
        var $table_col = $(el).parents("td");
        $table_col.html(this.row_actions_template());
    },

    refreshTable: function(e) {
        this.clearTable();
        this.inventoryList.fetch({reset: true});
    },

    createInventory: function() {

        this.showInventoryAddMsg("");
        this.createPart();
    },

    createInventoryStep2: function() {

        if(this.currentPart === undefined) {
            this.showInventoryAddMsg("Something went wrong");
            return;
        }

        var partResourceURI = "/api/v1/part/" + this.currentPart + "/";
        var quantity = this.$("#val_part_quant_v2").val();
        var owner = this.$("#val_owner").val();
        var spaceResourceURI = "/api/v1/space/" + app.space_id + "/";
        var addedTime = "Now";

        this.$('#btn_submit_new_parts').button('loading');

        var inventory = new app.Inventory({
            added_time: addedTime,
            part: partResourceURI,
            space: spaceResourceURI,
            quantity: quantity,
            owner: owner
        });

        var that = this;
        inventory.save(null, {
            success: function(model, response, options){
                that.$('#btn_submit_new_parts').button('reset');
                that.showInventoryAddMsg("Added");
                that.refreshTable();
                that.clearAddForm();
            },
            error: function(model, response, options) {
                that.showInventoryAddMsg("Something went wrong. Please try again.");
                that.$('#btn_submit_new_parts').button('reset');
            }
        });
    },

    clearAddForm: function() {
        this.$('#val_part_name_v2').val('');
        // this.$('#val_part_url_v2').val('');
        this.$('#val_owner').val('');
        this.$("#val_part_quant_v2").val('1')
    },

    createPart: function(){
        var part_name = this.$('#val_part_name_v2').val();
        // var part_url = this.$('#val_part_url_v2').val();


        if (!part_name) {
            this.showInventoryAddMsg("Please provide part name");
            return;
        }

        var part = new app.Part({
            'name' : part_name,
            // 'url' : part_url,
        });

        var that = this;
        part.save(null, {
            success : function(model, response) {
                that.currentPart = model.get('id');
                that.createInventoryStep2();
            },

            error : function(model, response) {
                that.showInventoryAddMsg("Something went wrong. Please try again.");
                that.currentPart = undefined;
            },
        });
    },

    showTransferOwnerForm: function(el) {
        var $target = $(el);
        var $parent_row = $target.parents('tr');
        var row_position = this.getDataTable().fnGetPosition($parent_row.get(0));
        var row_data = this.getDataTable().fnGetData(row_position);
        this.$("#edit_inv_owner").val(row_data[2]);
        this.$("#edit_inv_id").val(row_data[4]);
        this.$("#edit-inv-modal").modal('show');
    },

    saveInventoryEdit: function() {
        var owner = this.$("#edit_inv_owner").val();
        var inv_id = this.$("#edit_inv_id").val();

        var inv = new app.Inventory({id: inv_id});

        var that = this;
        inv.save({owner: owner}, {
            patch: true,
            success: function() {
                that.$("#edit-inv-modal").modal('hide');
                that.refreshTable();
                that.clearEditForm();
            }
        })
    },

    clearEditForm: function() {
        this.$("#edit_inv_owner").val('');
        this.$("#edit_inv_id").val('');
    }
});

app.space = new app.Space({'id' : app.space_id});
app.space.fetch();

$(function(){
    app.inventoryView = new app.InventoryView();
});

{% endif %}

</script>